@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"inter" ;
}
.header{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #f2f2f2;

  
}
.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: .9rem;
  gap: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
li{
  list-style-type: none;
  padding: 20px;
}
.offer-area{
  text-align: center;
  padding: 1rem;
  background-color: rgb(1, 26, 26);
}
img{
  padding: 0;
  margin-top:5px;
  width: 80%;
  height: 10%;
  z-index: -1;
  
  
}
.welcome-header{
  text-align: center;
  margin-top: 0px;
  color: #f2f2f2;
  
}
.welcome-headline{
  text-align: center;
  letter-spacing: .08rem;
  margin: 30px;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #f2f2f2;
  
  
  

}
.welcome-content-container{
  padding: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  
}
.h2{
  text-shadow: 2px 2px 5px #d48216;

}
#store,#mac,#ipad,#iphone,#watch{
  text-decoration: none;
  color: #f2f2f2;
}
.dropdown{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  background-color: rgb(34, 34,34);
  top: 100%;
  left: 0;
  opacity: 1;
  padding: 45px 5px;
  visibility: hidden;
  /* git */
  transition: 1s ease;
}
.dropdown-a{
  font-size: 24px;
  line-height: 5px;
}
.dropdown-b,.dropdown-c{
  font-size: 16px;
  line-height: 0;
}
.dropdown-c{
  margin-right: 54%;
}
.store:hover .dropdown{

  visibility: visible;
  transform: translateY(0px);
  background-color: rgb(0,0,0);

}
.mac:hover .dropdown{

  visibility: visible;
  transform: translateY(0px);
  background-color: rgb(0,0,0);

}
.ipad:hover .dropdown{

  visibility: visible;
  transform: translateY(0px);
  background-color: rgb(0,0,0);

}
.iphone:hover .dropdown{

  visibility: visible;
  transform: translateY(0px);
  background-color: rgb(0,0,0);

}
.watch:hover .dropdown{

  visibility: visible;
  transform: translateY(0px);
  background-color: rgb(0,0,0);

}

