@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Color+Emoji&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sulphur+Point:wght@300;400;700&display=swap'); 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Helvetica Neue", Arial, sans-serif;
}
.header{
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #f2f2f2;
  z-index: 1000;

  
}
.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: -3rem;
  gap: 0.3rem;
  font-weight: 500;
  font-size: 0.8rem;
}
li{
  list-style-type: none;
  padding: 17px;
}
.offer-area{
  text-align: center;
  padding: 3.7rem 0.9rem .9rem;
  background-color: rgb(34, 34, 34);
  color: #f2f2f2;
  font-size: 0.9rem;
  font-weight: 400;
}
  


#store,#mac,#ipad,#iphone,#watch,#airpods,#tv,#entertainment,#accessories,#support{
  text-decoration: none;
  color: #f2f2f2;
}
.dropdown{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  background-color: rgb(9, 6, 6);
  top: 100%;
  left: 0;
  opacity: 1;
  padding: 45px 5px;
  visibility: hidden;
  /* git */
  /* transition: 3s ease; */
}
.dropdown-a{
  font-size: 20px;
  line-height: 5px;
}
.dropdown-b,.dropdown-c{
  font-size: 12px;
  line-height: 0;
}
.dropdown-c{
  margin-right: 43%;
}
.nav-item:hover .dropdown{

  visibility: visible;
  transform: translateY(0px);
  background-color: rgb(0,0,0);

}

.main-section-1,.main-section-2{
  display: grid;
  height: 90vh;
  grid-template-rows: 100% ;
  justify-content: space-around;
  text-align: center;  
  padding: 30px;
}

.main-section-1{
  background-image: url(./images/iphone\ 16\ pro\ image.jpg);
  background-position: center;
  background-size: 80%;
}
.main-section-2{
  height: 90vh;
  background-image: url(./images/apple\ blue\ image.png);
  background-position: center;
  background-size: 100%;
  margin-top: 10px;

}


.top-section{
  margin: -7px;
}
.top-section>.h1{
  margin-bottom: 1px;
  color: #f2f2f2;
  font-size: 3.5rem;
  font-weight: 600;
}
.top-section>.h3{
  color: #f2f2f2;
  font-size: 20px;
  font-size: 1.5rem;
  font-weight: 500;

}
.btn-section>.btn{
  background-color: rgb(0, 135, 231);
  border: 1px solid rgb(0, 135, 231);
  border-radius: 40px;
  font-size: 1rem;
  padding: 10px 25px;
  color: #f2f2f2;
  margin: 8px;
  
}
.btn-section>.btn-1{
  border: 1px solid rgb(0, 135, 231);
  border-radius: 40px;
  padding: 10px 25px;
  font-size: 1rem;
  background: transparent;
  color:rgb(0, 135, 231); ;


}
.btn-section{
  margin-top: -80px;
}
h5{
  font-size: 0.9rem;
  color: rgb(201,201,201);
  font-weight: 300;
  margin-top: 0.8rem;
}
.btn-section>h5{
  color: black;
}
